NUXT_PUBLIC_PAYMENT_PROVIDER=idealpayment #possible: stripe, mollie, idealpayment

# MOLLIE
NUXT_MOLLIE_API_KEY=your_api_key_here

# STRIPE
NUXT_STRIPE_API_KEY=your_api_key_here

## IDEAL PAYMENT (Payrexx)
NUXT_IDEAL_PAYMENT_INSTANCE=zentival
NUXT_IDEAL_PAYMENT_API_KEY=your_api_key_here